#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        toggle-nav {
            bindings = <&tog 2>;
            key-positions = <21 20 19>;
        };

        tab-combo {
            bindings = <&kp TAB>;
            key-positions = <16 15 14>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            bindings = <
&kp ESCAPE        &kp Q  &kp W  &kp E                 &kp R         &kp T                     &kp Y        &kp U                    &kp I              &kp O    &kp P          &kp DELETE
&kp MINUS         &kp A  &kp S  &kp D                 &kp F         &kp G                     &kp H        &kp J                    &kp K              &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C                 &kp V         &kp B                     &kp N        &kp M                    &kp COMMA          &kp DOT  &kp FSLH       &kp RIGHT_ALT
                                &mt LEFT_CONTROL TAB  &lt 2 ESCAPE  &mt LEFT_SHIFT BACKSPACE  &lt 1 SPACE  &mt RIGHT_COMMAND ENTER  &mt RIGHT_ALT DEL
            >;
        };

        sym_layer {
            display-name = "SYM";
            bindings = <
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH          &kp DOLLAR            &kp PERCENT     &kp CARET        &kp AMPERSAND          &kp ASTERISK       &kp MINUS         &kp PLUS              &kp PIPE
&kp TILDE  &kp NUMBER_1     &kp NUMBER_2   &kp NUMBER_3      &kp NUMBER_4          &kp N5          &kp NUMBER_6     &kp N7                 &kp N8             &kp N9            &kp N0                &kp EQUAL
&trans     &kp SLASH        &kp LESS_THAN  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp NON_US_BACKSLASH  &trans
                                           &trans            &trans                &trans          &trans           &trans                 &trans
            >;
        };

        nav_layer {
            display-name = "NUM";
            bindings = <
&trans  &none  &none  &kp LA(LG(LEFT_ARROW))  &kp LA(LG(RIGHT))    &none   &none   &kp PAGE_DOWN  &kp PAGE_UP  &none  &none    &trans
&none   &none  &none  &kp LEFT                &kp RIGHT            &none   &none   &kp DOWN       &kp UP       &none  &kp INS  &kp GLOBE
&trans  &none  &none  &kp LC(LEFT_ARROW)      &kp LC(RIGHT_ARROW)  &none   &none   &kp END        &kp HOME     &none  &none    &trans
                      &trans                  &trans               &trans  &trans  &trans         &trans
            >;
        };

        adjust_layer {
            display-name = "ADJ";
            bindings = <
&bootloader  &studio_unlock  &none         &none         &none         &none         &none         &none         &none         &none         &studio_unlock  &bootloader
&bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &bt BT_CLR
&sys_reset   &none           &none         &none         &none         &none         &none         &none         &none         &none         &none           &sys_reset
                                           &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };
    };
};
